@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
    background-color: #6B4226;
}
.header-logo-name {
    color: #FFFFFF;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 70% */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50; /* Đảm bảo lớp này hiển thị phía trên */
}
.bg-primary-color {
    background: #914F1E;
}
.btn-primary-color   {
    background: #6B4226 !important;
}
.header-item:hover {
    background-color: #5A3621 !important;
}
.customer-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.bg-brown-600 { background-color: #6B4226; }
.bg-brown-700 { background-color: #5A3621; }
.floating-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure it stays on top of other content */
    padding: 1rem; /* Match your header padding */
}
.transition-button {
    transition: all 0.3s ease;
}

.transition-button:hover {
    transform: scale(1.02);
}
